<h1>تذكير بالحدث</h1>
<p>عزيزي {{customerName}}،</p>
<p>هذا تذكير بالحدث القادم:</p>
<ul>
  <li>الحدث: {{eventName}}</li>
  <li>التاريخ: {{eventDate}}</li>
  <li>الوقت: {{eventTime}}</li>
  <li>المكان: {{eventLocation}}</li>
  <li>الرقم المرجعي: {{bookingReference}}</li>
</ul>
